<div>
  <%= if @current_user do %>
  <%= live_render(@conn, MetristWeb.DashboardLive) %>
  <% else %>
  <div class="p-16">
    <h1>Welcome to metri.st</h1>
    <p>
      <a href="/auth/github">
        <i class="fa fa-github"></i>
        Sign in with GitHub
      </a>
    </p>
  </div>
  <% end %>
</div>
