<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>metris.st</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body id="page-top" class="sidebar-toggled">
    <div id="wrapper">
      <!-- TODO sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <p>metri.st</p>
            <ul class="navbar-nav ml-auto">
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li class="nav-item dropdown"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
              <% end %>
              <%= if @current_user do %>
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= @current_user.name %></span>
                    <img class="img-profile rounded-circle" src="<%= @current_user.avatar %>">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in show" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      <%= link "Logout", to: Routes.auth_path(@conn, :delete) %>
                    </a>
                  </div>
                </li>
              <% end %>
            </ul>
           </nav>
          <div class="container-fluid">
            <%= unless is_nil(get_flash(@conn, :info)) do %>
            <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
            <% end %>
            <%= unless is_nil(get_flash(@conn, :error)) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <% end %>

            <%= @inner_content %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
  </body>
</html>
